* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: headliner;
    src: url(headliner.ttf);
}

h1, h3 {
    font-family: headliner;
    color: #FFDE40;
    font-weight: 400;
}

html, body {
    height: 100%;
}

body {
    background-image: url(images/image\ 2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1512px; 
    padding: 20px;
    text-align: right;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    margin-bottom: 20px;
}

.text {
    text-align: right; 
    width: 100%; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.text h3, .text h1 {
    font-size: 103px;
    align-items: center;
    line-height: 104px;
    letter-spacing: 0em;
    text-align: right; 
    white-space: nowrap; 
}

button {
    background-color: #FFDE40;
    color: black;
    align-items: center;
    font-family: headliner;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    width: 231px;
    height: 57px;
    top: 8.53px;
    left: 85.33px;
}

button:hover {
    background-color: #FFDE40;
}

@media (max-width: 1280px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 1281px) {
    .container {
        width: 100%;
    }
}
